<nav class="navbar navbar-expand-lg ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <div class="nav-item dropdown show">
                <a class="dropdown-toggle" style="cursor:pointer;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="message_welcome">{{ 'navbar-menu.hello' | translate }},</span> {{ nameUser }} <img src="assets/img/user-logo.png" class="icon-img img-fluid" alt="">
                </a>
                <div class="dropdown-menu gmv-drop" aria-labelledby="dropdownMenuLink">
                    <div class="custom-dropdown">
                        <div class="img-content">
                            <h5>{{ nameUser }} {{ lastname }}</h5>
                        </div>
                        <div class="languages">
                            <div class="hidden-languages-options" #langDiv>
                                <a (click)="changeLanguage('es')" *ngIf="language != 'es'" class="dropgmv-item"><img class="icon-language-item" src="assets/icons/es.svg" alt=""></a>
                                <a (click)="changeLanguage('en')" *ngIf="language != 'en'" class="dropgmv-item"><img class="icon-language-item" src="assets/icons/en.svg" alt=""></a>
                                <a (click)="changeLanguage('de')" *ngIf="language != 'de'" class="dropgmv-item"><img class="icon-language-item" src="assets/icons/de.svg" alt=""></a>
                            </div>
                            <a class="dropgmv-item"><img (click)="showLang(langDiv)" class="icon-language-item" src="assets/icons/{{language}}.svg" alt=""></a>
                        </div>
                        <div class="options">
                            <a class="dropgmv-item" routerLink="/">{{ 'navbar-menu.configuration' | translate }}</a>
                            <a class="dropgmv-item" routerLink="/">{{ 'navbar-menu.profile' | translate }}</a>
                            <a class="dropgmv-item" routerLink="/">{{ 'navbar-menu.close-session' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</nav>