    nav {
        width: 100%;
        height: 55px;
        padding: 10px;
        position: fixed;
        z-index: 100;
        background: var(--color-gmv-primary) !important;
    }
    
    .navbar {
        padding: 0px !important;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
    }
    
    .navbar-header {
        width: 260px;
        margin: 0px !important;
    }
    
    .logo {
        width: 100%;
    }
    
    .nav-item>a {
        color: aliceblue;
        text-decoration: none;
    }
    
    #navbarNav {
        padding-right: 35px;
    }
    
    .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    .navbar-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
    }
    
    .nav-item {
        margin-left: 20px;
    }
    
    .dropdown-toggle:after {
        content: '';
        display: none !important;
    }
    
    .icon-img {
        width: 35px;
        border-radius: 50px;
    }
    /*      DROPDOWN        */
    
    .gmv-drop {
        width: 360px;
        position: absolute;
        transform: translate3d(35px, 65px, 0px);
        top: -21px;
        height: 265px;
        left: -215px;
        will-change: transform;
        padding: 0px;
        border-radius: 5px;
    }
    
    .custom-dropdown {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
    }
    
    .img-content {
        width: 100%;
        height: 75px;
        background: url('../../../assets/img/dropdown-bg.png') no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        color: aliceblue;
        padding: 0px 10px;
    }
    
    .options {
        width: 100%;
        height: auto;
    }
    
    .options:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .options>.dropgmv-item {
        width: 100%;
        padding: 10px;
        display: block;
        text-decoration: none;
        color: var(--color-gmv-secondary);
    }
    
    .options>.dropgmv-item:hover {
        animation-name: hover-animation;
        animation-duration: .5s;
        animation-fill-mode: forwards;
    }
    
    .dropgmv-item:hover {
        cursor: pointer;
    }
    
    .languages {
        width: 100%;
        position: relative;
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: center;
        padding-right: 10px;
    }
    
    .hidden-languages-options {
        position: absolute;
        top: 0;
        right: -280px;
        opacity: 0;
    }
    
    .hidden-languages-options>a {
        margin-left: 10px;
    }
    
    .icon-language-item {
        width: 35px;
        margin-right: 5px;
    }
    
    .languages>.dropgmv-item:hover .icon-language-item {
        animation-name: rotate-three-times;
        animation-duration: .9s;
    }
    
    .languages:hover .hidden-languages-options {
        animation-name: show-lang;
        animation-duration: .9s;
        animation-fill-mode: forwards;
    }
    
    @keyframes hover-animation {
        to {
            background: #D8D3D3;
        }
    }
    
    @keyframes rotate-three-times {
        to {
            transform: rotate(360deg);
        }
    }
    
    @keyframes show-lang {
        to {
            opacity: 1;
            right: 80px;
        }
    }