.pages {
    width: 86%;
    position: absolute;
    top: 55px;
    left: 260px;
    padding: 20px;
    overflow: auto;
}

@media only screen and (max-width: 1366px) {
    .pages {
        width: 79%;
    }
}