<aside class="sidebar shadow-sm">

    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
        <div class="picture-wrapper mb-4">
            <div class="user-picture m-auto">
                <img src="assets/img/user-logo.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="profile-details text-center pb-4">
            <p class="mb-0 text-uppercase name">Alejandro Cantón García</p>
            <small class="text-uppercase role">Rainbow Six</small>
        </div>
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
        <ul class="menu-items">
            <li routerLink="/dashboard" routerLinkActive="active">
                <a>
                    <span class="icon icon-stats-bars"></span>
                    <span>{{ 'sidebar-menu.dashboard' | translate }}</span>
                </a>
            </li>
            <li routerLink="/accounts" routerLinkActive="active">
                <a>
                    <span class="icon icon-user-plus"></span>
                    <span>{{ 'sidebar-menu.my-account' | translate }}</span>
                </a>
            </li>
            <li routerLink="/teams" routerLinkActive="active">
                <a>
                    <span class="icon icon-lab"></span>
                    <span>{{ 'sidebar-menu.teams' | translate }}</span>
                </a>
            </li>
            <li routerLink="/players" routerLinkActive="active">
                <a>
                    <span class="icon icon-users"></span>
                    <span>{{ 'sidebar-menu.players' | translate }}</span>
                </a>
            </li>
            <li routerLink="/competitions" routerLinkActive="active">
                <a>
                    <span class="icon icon-trophy"></span>
                    <span>{{ 'sidebar-menu.competitions' | translate }}</span>
                </a>
            </li>
            <li routerLink="/matches" routerLinkActive="active">
                <a>
                    <span class="icon icon-target"></span>
                    <span>{{ 'sidebar-menu.matches' | translate }}</span>
                </a>
            </li>
            <li>
                <a href="https://www.twitch.tv/renato8000/videos" target="_blank">
                    <span class="icon icon-twitch"></span>
                    <span>{{ 'sidebar-menu.twitch' | translate }}</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>