aside {
    width: 85px;
    position: fixed;
    z-index: 100;
    height: 100vh;
    background: var(--color-gmv-secondary) !important;
    color: aliceblue;
}

.sidebar-menu {
    margin-top: 40px;
}

.menu-header {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.7em;
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-items>li {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    outline: none;
    align-content: center;
}

.menu-items>li>a {
    font-size: 12px;
}

.menu-items>li>a>span {
    display: block;
}

.icon {
    font-size: 25px;
}

.menu-items>li:hover,
.active {
    background-color: var(--color-gmv-secondary-dark);
    cursor: pointer;
}

.menu-items>li>a {
    color: aliceblue;
    text-decoration: none;
}