/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* COLORES PRINCIPALES */

:root {
    --color-gmv-primary: #df0024;
    --color-gmv-primary-dark: rgba(197, 0, 32, .7);
    --color-gmv-secondary: #6A6A6A;
    --color-gmv-secondary-dark: #4A4A4A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-gmv-primary);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--color-gmv-primary-dark);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.content-errors {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.icon {
    margin: 5px;
    font-size: 18px;
}