.search {
    width: 100%;
}

.search>mat-form-field {
    width: 100%;
    color: #fff;
}

.grid-type {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    border-bottom: 1px solid darkgray;
}

.icons-grid {
    margin-right: 35px;
}

.icons-grid>.icon {
    font-size: 20px;
    color: darkgray;
}

.icons-grid>.icon:hover {
    cursor: pointer;
    color: #000;
}

.players-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.contenedor_tarjets_buscadas,
.players {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.load-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.load {
    width: 10%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.tr-player {
    cursor: pointer;
}

mat-progress-spinner {
    width: 100%;
}

@keyframes rotate-card {
    to {
        transform: rotateY(180deg);
    }
}

@media only screen and (max-width: 1366px) {}