<main class="main" *ngIf="!player">
    <h2>Players</h2>
    <hr>
    <div class="search">
        <mat-form-field appearance="legacy">
            <mat-label>Jugadores GMV</mat-label>
            <input (keyup)="searchUser(input.value)" #input autocomplete="off" matInput>
            <mat-hint>Busca jugadores en GMV</mat-hint>
        </mat-form-field>
    </div>
    <br><br>
    <div class="players-content">
        <div *ngIf="results" class="contenedor_tarjets_buscadas">
            <h2>Resultados:</h2>
            <hr>
            <br>
            <div class="contenedor_tarjeta" *ngFor="let result of results" [routerLink]="['/players/bob']">
                <figure id="tarjeta">
                    <img src="assets/img/bg-players.jpg" class="frontal" alt="">
                    <figcaption class="trasera">
                        <h2 class="text-center titulo">{{ result.username }}</h2>
                        <hr>
                        <p>{{ result.name }}</p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="players">
            <div class="contenedor_tarjeta" *ngFor="let player of players" [routerLink]="['/players/bob']">
                <figure id="tarjeta">
                    <img src="assets/img/bg-players.jpg" class="frontal" alt="">
                    <figcaption class="trasera">
                        <h2 class="text-center titulo">{{ player.username }}</h2>
                        <hr>
                        <p>{{ player.name }}</p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="load-content">
            <div class="load">
                <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
                </mat-progress-spinner>
            </div>
        </div>
    </div>
</main>